<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssyvsse.dao.CpHistoryMapper" >
	
	<resultMap type="com.ssyvsse.pojo.CpHistory" id="historyResult">
		<result column="createtime" property="createtime"/>
	</resultMap>
	
	<select id="selectByDate" resultMap="historyResult">
		select no,createtime from cp_history where typeid=#{typeid} and DATE_FORMAT(createtime,"%y-%M-%d")=DATE_FORMAT(#{date},"%y-%M-%d") order by no asc
	</select>
	
</mapper>