<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssyvsse.dao.OpenTimeMapper" >
	
	<resultMap type="com.ssyvsse.pojo.OpenTime" id="openTimeResult">
		<result column="typeid"	property="typeid"/>
		<result column="no" property="no"/>
		<result column="opentime" property="opentime"/>	
	</resultMap>
	
	<select id="findByTypeid" resultMap="openTimeResult">
		select * from open_time where typeid=#{typeid}
	</select>
	
	<update id="addPeriod">
		update open_time set period=#{period} where typeid=#{typeid} and no=#{no} and opentime=#{opentime}
	</update>
	
	<select id="getNewNoByPeriodAndTypeId" resultType="java.lang.Integer">
		select no from open_time where period=#{period} and typeid=#{typeid}
	</select>
	
	<select id="checkPeriodIsNullOrNot" resultType="java.lang.String">
  		select distinct period from open_time where typeid=#{typeid}
    </select> 
	
</mapper>